.card{
      width: 20rem; height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
      border-radius: 10px;
      padding: 1.5rem;
}

.fila{
      display: flex;
      justify-content: center;
}

.pantalla{
      margin-bottom: 1rem;
}