.card{
      width: 20rem; height: 100%;
      background-color: rgb(177, 177, 177);
      border: solid 4px rgb(102, 101, 101);
      border-radius: 25px;
      padding: 1.5rem;
}

.fila{
      display: flex;
      justify-content: center;
}

.pantalla{
      margin-bottom: 1rem;
}