/* You can add global styles to this file, and also import other style files */
body{
      background-color: rgb(129, 110, 151) !important;
      padding: 5rem 7rem;
      height: 100vh;
      display: grid;
      place-items: center;
}

@media (max-width: 786px) {
      body{
      
            padding: 5rem 3rem;
      }
}